<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <a class="navbar-brand" href="#">TEST-MAP</a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto" (click)="toggleNavbar()">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/states']">States</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/tracks']">Tracks</a>
            </li>
        </ul>
    </div>
</nav>