<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="navbar-collapse" id="navbarNav">

        <a class="navbar-brand text-light">TEST-MAP </a>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto pr-1">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/states']">States</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/tracks']">Tracks</a>
                </li>
            </ul>
        </div>
    </div>
</nav>