<div class="container-fluid" style="height:100%;">
    <div class="row" style="height:100%;">
        <div class="col p-0" style="height:100%;">
            <div id="clientDiv" style="">
                <div style="padding:5px">
                    <select id="clients_dd" (change)="onChange($event)" [(value)]="selectedClient">
                <option *ngFor="let client of clients" [value]="client">
                    {{ client }}
                </option>
                </select>
                </div>
                <div style="padding:5px 0px 10px 5px">
                    <input type="button" value="Classify" (click)="intersectClick()">&nbsp;
                    <input type="button" value="X" (click)="removeClassification()" class="closeButton">
                </div>

                <div class="featureCount">{{featureCount}}</div>

                <div style="border-bottom:solid 3px #ff771d">locations</div>

                <div class="city-details">
                    {{cityLabel?.name}}
                    <br> {{cityLabel?.state}}
                    <br> {{ cityLabel?.population | number: '2.'}}
                    <br>
                </div>
            </div>

            <div id="mapDiv" #mapViewNode>
            </div>
        </div>
    </div>
</div>
