<configuration>
<system.webServer>
<rewrite>
    <rules>
    <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		<add input="{REQUEST_URI}" pattern="^/(services)" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
    </rule>
    </rules>
</rewrite>

<staticContent>
            <mimeMap fileExtension=".woff2" mimeType="application/x-woff2" />
        </staticContent>
        
</system.webServer>
</configuration>